* {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  --primary-color: rgb(255, 8, 78);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 5px;
}

.App {
  overflow: hidden;
}

html {
  color: #3a3a3a;
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}

.d-flex {
  display: flex !important;
}

.d-block {
  display: block !important;
}

.visible {
  visibility: visible !important;
}

// Hide Arrows From Input Number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Custom slider-active dot
.slick-dots li.slick-active button:before {
  color: var(--primary-color);
      text-shadow: none;
}