$miniHeight: 150px;
$closeWidth: 50px;

.miniCategoryListsWrap {
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    width: 300px;
    max-width: 100%;
    background-color: #fff;
    text-align: left;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    transition: .5s transform;
    z-index: 12;
    .miniCategoryClose:hover {
        background-color: var(--primary-color);
    }
    .miniCategoryHeader {
        font-size: 1.6rem;
        margin: 0;
    }
    .miniCategoryLists {
        margin-top: 50px;
        font-weight: 400;
        list-style: none;
        padding: 0;
        line-height: 45px;
        .miniCategoryItem {
            display: block;
            position: relative;
            margin-left: 20px;
            cursor: pointer;
            .miniCategoryItemName {
                font-size: 1.3rem;
                display: inline-block;
                cursor: pointer;
            }
            .arrowDown {
                padding-left: 10px;
                line-height: 4rem;
            }
            .miniCategoryItemChildren {
                margin: 0 0 10px 10px;
                display: none;
                opacity: 0;
                list-style: none;
                padding: 0;
                animation: turnInFromLeft .3s .1s 1 linear forwards;
                cursor: default;
                .miniCategoryItemChild {
                    position: relative;
                    cursor: pointer;
                }
                .miniCategoryItemChild::before {
                    width: 8px;
                    height: 8px;
                    border: 1px solid #000;
                    background-color: #fff;
                    border-radius: 2px;
                    display: inline-block;
                    margin: 0 -20px;
                    content: '';
                    position: absolute;
                    top: 18px;
                    left: 0;
                }
            }
        }
        .miniCategoryItem::before {
            width: 8px;
            height: 8px;
            border: 1px solid #000;
            background-color: #fff;
            border-radius: 2px;
            display: inline-block;
            margin: 0 -20px;
            content: '';
            position: absolute;
            top: 18px;
            left: 0;
        }
        .active.miniCategoryItem::before {
            border-color: var(--primary-color);
            background-color: var(--primary-color);
        }
    }
}
.miniCategoryListsWrap.active {
    transform: translateX(0);
}
.miniCategoryListsWrap.active ~ .miniCategoryOverlay {
    display: block;
}

// Animations
@keyframes turnInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


// Responsive   

// Mobile
@media (max-width: 739px) {
        .miniCategory{
            .miniCategoryIcon {
                padding: 12px;
            }
        }
}