.container {
    display: flex;
    .sliders {
        margin: auto;
        width: 1000px;
        .slider {
            text-align: center;
            line-height: 100px;
            font-size: 3rem;
            span {
                display: block;
                margin: 100px;
                gap: 20px;
                box-sizing: border-box;
                background-color: orange;
            }
        }
        .slickArrow {
            font-size: 4rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            color: #000;
            background-color: #000;
        }
        .slickArrowPrev {
            left: 0;
        }
        .slickArrowNext {
            right: 0;
        }
    }
}