$headerHeight: 150px;
$closeWidth: 50px;

.headerContainer {
    height: $headerHeight;
    display: flex;
    text-align: center;
    align-items: center;
}

.headerLogo {
    display: flex;
    justify-content: start;
    img {
        padding: 30px;
        cursor: pointer;
    }
}

.headerBagAndCategoryIcon {
    position: relative;
    display: flex;
    justify-content: end;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    color: #2e2e2e;
    .yourBagLabelAndIcon {
        cursor: pointer;
        .headerBagIcon {
            font-size: 2rem;
            padding-right: 4px;
        }
        .yourBagLabel {
        }
    }
    .yourBag {
        visibility: hidden;
        position: absolute;
        top: 105px;
        right: 12px;
        background-color: #fff;
        width: 280px;
        box-shadow: 0 0 25px rgb(0 0 0 / 20%);
        border-radius: 3px;
        z-index: 100;
        .listsItem {
            list-style: none;
            padding: 0;
            .item {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #ebebeb;
                .thumbnail {
                    width: auto;
                    height: 40px;
                    margin: 12px;
                }
                .details {
                    .productName {
                        margin: 0 0 12px 0;
                    }
                    .amountAndPrice {
                        display: flex;
                        font-size: 1.2rem;
                        font-weight: 400;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .yourBagFooter {
            display: flex;
            justify-content: space-between;
            padding: 0 12px;
            .cartAndCheckout {
                display: flex;
                font-weight: 450;
                align-items: center;
                .cart,
                .checkout {
                    padding: 6px 8px;
                    margin-right: 4px;
                    color: #fff;
                }
                .cart {
                    background-color: #3a3a3a;
                }
                .checkout {
                    background-color: var(--primary-color);
                }
            }
        }
    }
    .yourBag::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 22px;
        top: -20px;
        left: 0;
        background-color: transparent;
        z-index: 100;
    }
    .yourBagLabelAndIcon:hover .yourBag {
        visibility: visible;
    }
    .headerCategory {
        .headerCategoryIcon {
            line-height: $headerHeight;
            font-size: 2.4rem;
            background-color: #3a3a3a;
            color: #fff;
            padding: 17px;
            border-radius: 50%;
            margin-left: 4px;
            cursor: pointer;
        }
    }
    .headerCategoryIcon:hover {
        background-color: var(--primary-color);
        transition: .5s background-color;
    }
}

// Tablet
@media (min-width: 740px) {
    .headerContainer {
        .headerLogo {
            display: flex;
            justify-content: start;
            img {
                padding: 14px;
            }
        }
        .headerBagAndCategoryIcon {
            .headerBagIcon{
                line-height: $headerHeight;
            }
            display: flex;
            justify-content: space-between;
        }
    }
}

/* PC */
@media (min-width: 1024px) {
    .headerContainer {
        .headerLogo {
            display: flex;
            justify-content: center;
        }
        .headerBagAndCategoryIcon {
            .yourBagLabelAndIcon {
                height: 0px;
            }
        }
    }
}

// Mobile
@media (max-width: 739px) {
    .headerContainer {
        padding: 0 20px;
        .headerLogo {
            img {
                height: 40px;
                padding: 0;
            }
        }
    }
    .headerBagAndCategoryIcon {
            display: flex;
        .yourBagLabelAndIcon {
            margin: auto 0;
        }
        .headerCategory{
            .headerCategoryIcon {
                padding: 12px;
            }
        }
    }
}
