.newArrivalsContainer {
    .newArrivalsWrap {
        padding: 100px 0 0;
        .newArrivals {
            text-align: center;
            h1 {
                font-size: 4.8rem;
                text-transform: uppercase;
                color: #3a3a3a;
            }
            .newArrivalsMenu {
                display: flex;
                flex-wrap: wrap;
                margin: 80px 0 60px;
                justify-content: space-around;
                .newArrivalsMenuItem {
                    color: #9f9f9f;
                    background-color: transparent;
                    border: none;
                    font-size: 1.4rem;
                    font-weight: 700;
                    cursor: pointer;
                    padding-bottom: 20px;
                }
                .newArrivalsMenuItem.active {
                    color: #3a3a3a;
                }
            }
        }
    }
}

// Responsive
.newArrivalsContainer {
    .newArrivalsWrap {
        .newArrivals {
            h1 {
                font-size: 2.4rem;
            }
            .newArrivalsMenu {
                
                padding: 0 20px;
            }
        }
    }
}